:root {
  --clr-white: #ffffff;
  --clr-black: #222222;
  --clr-yellow: #ffff00;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: monospace;
}

body {
  background: var(--clr-black);
  color: var(--clr-white);
  margin: 0;
}

input,
button {
  font-family: monospace;
}

#app {
  display: flex;
}